@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック','Kozuka Gothic Pr6N', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width: 1096px;
	overflow: hidden;
}
.wrapper{
	max-width : 990px;
	padding : 0px 15px;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 10px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 10px 15px;
			border : 1px solid #ededed; ;
		}
	}
}


/* LAYOUT */
header{
	border-top: 4px solid $sub_color1;
	padding-top: 20px;	
	.logo{
		float : left;
		.top-text{
			font-size: 12px;
			color: $sub_color1;
			padding-bottom: 10px;
		}
	}
	.header-tel{
		margin-left: 93px;
		float: left;
	}
	.header-con{
		float: right;
		margin: -20px 0;		
		position: relative;
		z-index: 50;	
		a:hover{
			@include border_radius(3px);
		}
	}
}

#slider{	
	margin-left: -45px;
	.slider-content{
		background : #40ADE3;		
		text-align: center;	
	}	
}

#top-content1{
	line-height: 73px;
	background: #fff105;	
	.top-content1-text{
		float: right;		
		color: #0690DA;
		font-size: 35px;
		font-weight: bold;
		font-family: Kozuka Gothic Pr6N;
		.text-small{
			font-size: 25px;
			font-weight: bold;
		}
	}
}

#top-content2{		
	position: relative;
	margin: 0 auto;
	.top-content-info1{
		float: left;
		position: absolute;
		margin: -120px 0 0 -45px;
		z-index: 51;
	}
	.top-content-info2{
		float: left;	
		margin-left: 385px;
	}
}

#top-content3{
	background : transparent url("../img/common/top_contact_bg.jpg") repeat-x 0 0 scroll;
	padding: 34px 0;	
	.top-content3-info{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			height: 144px;
			border-left: 1px solid $main_color;
			border-right: 1px solid $main_color;
			padding: 0 34px;
			float: left;
			.top-content3-text{
				text-align: center;
				color: $main_color;
				font-size: 30px;
				font-family: Kozuka Gothic Pr6N;
				padding-bottom: 30px;
			}
		}
		li:last-child{
			border-left: none;
			a:hover{
				@include border_radius(3px);
			}
		}
	}	
}

#content{	
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2_title{ }
	.h2_title,
	.h3_title{
		margin-bottom: 15px;
	}
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.red {
		color:#F66;
	}
		
	table tr th,td{ font-size : 13px; }
	input{
		color: $text_color;
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
		background: #fff5f5;
		border: 1px solid #ccc !important;
	}
	select{
		background: #fff5f5;
		border: 1px solid #ccc !important;
		color: $text_color;
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
	textarea{
		background: #fff5f5;
		border: 1px solid #ccc !important;
		color: $text_color;
	}
}


footer{	
	background: $main_color;
	.footer-content1{
		line-height: 49px;
		color: #666;
		border-bottom: 1px solid $border_color;
		ul{
			list-style: none;
			padding : 0;
			margin : 0;
			li{
				float: left;
				margin-left: 55px;
			}
		}
	}
	.footer-content2{
		margin-top: 25px;
		color: #666;
		.footer-cont2-left{
			float: left;
			.footer-cont2-text{
				font-size: 12px;
				padding-bottom: 10px;
			}
		}
		.footer-cont2-right{
			float: right;
			margin-right: 15px;
		}
	}
	.footer-copyright{
		margin-top: 30px;
		margin-bottom: 20px;
		font-size: 13px;
		color: #666;
		.copyright-text{
			color: #333;
			text-decoration: underline;
		}
	}
}

