@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* page content */
#content{
	
	/* top */
	.main-content1{		
		background : #f8f8f8 url("../img/content/top_img_advice.jpg") no-repeat center 0 scroll;								
		height: 500px;
		margin: 0 auto;
		position: relative;
		.main-content1-list{
			position: absolute;
			top: 130px;
			left: 100px;	
			ul{
				list-style: none;
				margin: 0;
				padding: 0;				
				li{			
					line-height: 35px;
					font:{
						size: 20px;
						weight: bold;
					}
				}
			}
		}		
	}/*-- main-content1 --*/
	
	.main-content2{			
		background: #f8f8f8;
		.main-content2-left{
			position: relative;
			right: 380px;
		}
		.main-content2-right{
			margin-left: 300px;
		}
	}/*-- main-content2 --*/
	
	.hideme
	{
		opacity:0;
	}
	.main-content3{
		background: #f8f8f8;
		padding-top: 45px;
		text-align: center;
	}/*-- main-content3 --*/
	
	.main-content4{
		padding: 44px 0 56px 0;
		background: $bg_color;
		.main-content4-title{			
			text-align: center;
			padding-bottom: 38px;	
		}
		.main-content4-info{
			width: 1100px;
			margin: 0 auto;
		}
		#main-content4-list{				
			margin: 0 auto;
			width: 100%;
			height: 270px;
			text-align: left;				
			position: relative;
			overflow: hidden;
		}
		#main-content4-list ul {			
			height: 270px;
			float: left;
			display: inline;
			overflow: hidden;				
		}
		#main-content4-list ul li {			
			height: 270px;	
			display: inline;
			overflow: hidden;
			float: left;				
			background: #f4f4f4;
			width: 230px;
			margin-left: 13px;
			padding: 10px 10px 25px 10px;
			text-align: center;				
			.main-content4-title{
				font-size: 16px;
				padding: 15px 0; 
			}
		}	
		#main-content4-list ul:after {
			content: ".";
			height: 0;
			clear: both;
			display: block;
			visibility: hidden;				
		}
		#main-content4-list ul {
			display: inline-block;
			overflow: hidden;	
			padding-left: 0;
			width: 975px!important;
		}
	}/*-- main-content4 --*/
	
	.main-content5{
		background : #f8f8f8;
		padding-top: 20px;
		.main-content5-info{		
			background : #f8f8f8 url("../img/content/top_content_process.jpg") no-repeat center 0 scroll;										
			height: 477px;
			margin: 0 auto;		
			.main-content5-list{			
				list-style: none;	
				padding: 205px 0 0 315px;
				li{			
					line-height: 50px;
					font-size: 30px;
					font-family: Kozuka Gothic Pr6N;
					color: #e45738;
					.main-content6-clr{color: $sub_color1;}
				}
			}		
		}
	}/*-- main-content5 --*/	
	
	.main-content6{
		background: $sub_color2;
		height: 315px;
		.main-content6-info{
			color: #e4451d;
			text-align: center;
			padding: 45px 0;
			font-size: 60px;
			font-weight: bold;
			font-family: Kozuka Gothic Pr6N;
			line-height: 1.3em;
		}		
	}/*-- main-content6 --*/
	
	.main-content7{
		background: #ff6600;
		padding: 68px 0;
		color: $main_color;
		.main-contact-info{			
			.main-con-title{
				text-align: center;
				font-size: 42px;				
			}
			.main-con-line{
				padding: 20px 0;
				text-align: center;
				.main-con-lleft{
					float: left;
				}
				.main-con-lright{
					float: right;
				}				
			}			
			.main-con-info{
				margin-bottom: 32px;
				.main-con-left{
					float: left;					
					.conl-text1{					
						padding-bottom: 22px;
						font:{
							size: 34px;
							weight: bold;
						}
					}
					.conl-text2{
						line-height: 2em;
						font:{
							size: 12px;
							weight: bold;
						}
					}
				}
				.main-con-right{					
					float: left;
					margin-left: 70px;
					.conr-text{
						font-size: 17px;
						padding-bottom: 10px;
					}
				}
			}			
			.contact-form{					
				tr th{
					width: 250px;
				}
				tr td{
					background: $main_color;
				}
				.require{
					float: right;
					background: $sub_color2;
					color: #ff6600;
					font-size: 13px;
					width: 50px;
					line-height: 29px;
					text-align: center;
				}
				.contact-btn{
					text-align: center;
					padding-top: 37px;
					.wpcf7-confirm{
						background: $sub_color2;
						text-align: center;
						width: 558px;
						line-height: 98px;
						color: #ff6600;
						font-size: 24px;
						@include border_radius(10px);
						box-shadow: 0 0 5px 5px #e14800;
					}
				}				
			}
		}
	}/*-- main-content7--*/
	
	
	/*-----page-blog----*/
	.post-row-content{	
		.blog-btnrm{
			float: right;		
			padding: 3px 8px;
			@include border_radius(5px);
			background-color: $main_color;
			a{
				color: $sub_color2;
			}
			a:hover{
				opacity: 0.5;
			}
		}
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
		}
		.blog-content{
			margin-top: 20px;
		}
	}
	
	.wp-pagenavi{
		margin-top: 40px;		
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;
			
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}
}