@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: white;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: white; }

a:link {
  color: #333333; }

a:visited {
  color: #333333; }

a:hover {
  color: #333333; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック','Kozuka Gothic Pr6N', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1096px;
  overflow: hidden; }

.wrapper {
  max-width: 990px;
  padding: 0px 15px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 10px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 10px 15px;
    border: 1px solid #ededed; }

/* LAYOUT */
header {
  border-top: 4px solid #135183;
  padding-top: 20px; }
  header .logo {
    float: left; }
    header .logo .top-text {
      font-size: 12px;
      color: #135183;
      padding-bottom: 10px; }
  header .header-tel {
    margin-left: 93px;
    float: left; }
  header .header-con {
    float: right;
    margin: -20px 0;
    position: relative;
    z-index: 50; }
    header .header-con a:hover {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }

#slider {
  margin-left: -45px; }
  #slider .slider-content {
    background: #40ADE3;
    text-align: center; }

#top-content1 {
  line-height: 73px;
  background: #fff105; }
  #top-content1 .top-content1-text {
    float: right;
    color: #0690DA;
    font-size: 35px;
    font-weight: bold;
    font-family: Kozuka Gothic Pr6N; }
    #top-content1 .top-content1-text .text-small {
      font-size: 25px;
      font-weight: bold; }

#top-content2 {
  position: relative;
  margin: 0 auto; }
  #top-content2 .top-content-info1 {
    float: left;
    position: absolute;
    margin: -120px 0 0 -45px;
    z-index: 51; }
  #top-content2 .top-content-info2 {
    float: left;
    margin-left: 385px; }

#top-content3 {
  background: transparent url("../img/common/top_contact_bg.jpg") repeat-x 0 0 scroll;
  padding: 34px 0; }
  #top-content3 .top-content3-info {
    list-style: none;
    padding: 0;
    margin: 0; }
    #top-content3 .top-content3-info li {
      height: 144px;
      border-left: 1px solid white;
      border-right: 1px solid white;
      padding: 0 34px;
      float: left; }
      #top-content3 .top-content3-info li .top-content3-text {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: Kozuka Gothic Pr6N;
        padding-bottom: 30px; }
    #top-content3 .top-content3-info li:last-child {
      border-left: none; }
      #top-content3 .top-content3-info li:last-child a:hover {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }

#content {
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content .message-classic .message-col .title {
      color: white;
      font-size: 16px;
      line-height: 30px; }
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  #content .h2_title,
  #content .h3_title {
    margin-bottom: 15px; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  color: #333333;
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px;
  background: #fff5f5;
  border: 1px solid #ccc !important; }
.wpcf7 select {
  background: #fff5f5;
  border: 1px solid #ccc !important;
  color: #333333;
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }
.wpcf7 textarea {
  background: #fff5f5;
  border: 1px solid #ccc !important;
  color: #333333; }

footer {
  background: white; }
  footer .footer-content1 {
    line-height: 49px;
    color: #666;
    border-bottom: 1px solid #cccccc; }
    footer .footer-content1 ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .footer-content1 ul li {
        float: left;
        margin-left: 55px; }
  footer .footer-content2 {
    margin-top: 25px;
    color: #666; }
    footer .footer-content2 .footer-cont2-left {
      float: left; }
      footer .footer-content2 .footer-cont2-left .footer-cont2-text {
        font-size: 12px;
        padding-bottom: 10px; }
    footer .footer-content2 .footer-cont2-right {
      float: right;
      margin-right: 15px; }
  footer .footer-copyright {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #666; }
    footer .footer-copyright .copyright-text {
      color: #333;
      text-decoration: underline; }

/* page content */
#content {
  /* top */
  /*-- main-content1 --*/
  /*-- main-content2 --*/
  /*-- main-content3 --*/
  /*-- main-content4 --*/
  /*-- main-content5 --*/
  /*-- main-content6 --*/
  /*-- main-content7--*/
  /*-----page-blog----*/ }
  #content .main-content1 {
    background: #f8f8f8 url("../img/content/top_img_advice.jpg") no-repeat center 0 scroll;
    height: 500px;
    margin: 0 auto;
    position: relative; }
    #content .main-content1 .main-content1-list {
      position: absolute;
      top: 130px;
      left: 100px; }
      #content .main-content1 .main-content1-list ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #content .main-content1 .main-content1-list ul li {
          line-height: 35px;
          font-size: 20px;
          font-weight: bold; }
  #content .main-content2 {
    background: #f8f8f8; }
    #content .main-content2 .main-content2-left {
      position: relative;
      right: 380px; }
    #content .main-content2 .main-content2-right {
      margin-left: 300px; }
  #content .hideme {
    opacity: 0; }
  #content .main-content3 {
    background: #f8f8f8;
    padding-top: 45px;
    text-align: center; }
  #content .main-content4 {
    padding: 44px 0 56px 0;
    background: white; }
    #content .main-content4 .main-content4-title {
      text-align: center;
      padding-bottom: 38px; }
    #content .main-content4 .main-content4-info {
      width: 1100px;
      margin: 0 auto; }
    #content .main-content4 #main-content4-list {
      margin: 0 auto;
      width: 100%;
      height: 270px;
      text-align: left;
      position: relative;
      overflow: hidden; }
    #content .main-content4 #main-content4-list ul {
      height: 270px;
      float: left;
      display: inline;
      overflow: hidden; }
    #content .main-content4 #main-content4-list ul li {
      height: 270px;
      display: inline;
      overflow: hidden;
      float: left;
      background: #f4f4f4;
      width: 230px;
      margin-left: 13px;
      padding: 10px 10px 25px 10px;
      text-align: center; }
      #content .main-content4 #main-content4-list ul li .main-content4-title {
        font-size: 16px;
        padding: 15px 0; }
    #content .main-content4 #main-content4-list ul:after {
      content: ".";
      height: 0;
      clear: both;
      display: block;
      visibility: hidden; }
    #content .main-content4 #main-content4-list ul {
      display: inline-block;
      overflow: hidden;
      padding-left: 0;
      width: 975px !important; }
  #content .main-content5 {
    background: #f8f8f8;
    padding-top: 20px; }
    #content .main-content5 .main-content5-info {
      background: #f8f8f8 url("../img/content/top_content_process.jpg") no-repeat center 0 scroll;
      height: 477px;
      margin: 0 auto; }
      #content .main-content5 .main-content5-info .main-content5-list {
        list-style: none;
        padding: 205px 0 0 315px; }
        #content .main-content5 .main-content5-info .main-content5-list li {
          line-height: 50px;
          font-size: 30px;
          font-family: Kozuka Gothic Pr6N;
          color: #e45738; }
          #content .main-content5 .main-content5-info .main-content5-list li .main-content6-clr {
            color: #135183; }
  #content .main-content6 {
    background: #fff20b;
    height: 315px; }
    #content .main-content6 .main-content6-info {
      color: #e4451d;
      text-align: center;
      padding: 45px 0;
      font-size: 60px;
      font-weight: bold;
      font-family: Kozuka Gothic Pr6N;
      line-height: 1.3em; }
  #content .main-content7 {
    background: #ff6600;
    padding: 68px 0;
    color: white; }
    #content .main-content7 .main-contact-info .main-con-title {
      text-align: center;
      font-size: 42px; }
    #content .main-content7 .main-contact-info .main-con-line {
      padding: 20px 0;
      text-align: center; }
      #content .main-content7 .main-contact-info .main-con-line .main-con-lleft {
        float: left; }
      #content .main-content7 .main-contact-info .main-con-line .main-con-lright {
        float: right; }
    #content .main-content7 .main-contact-info .main-con-info {
      margin-bottom: 32px; }
      #content .main-content7 .main-contact-info .main-con-info .main-con-left {
        float: left; }
        #content .main-content7 .main-contact-info .main-con-info .main-con-left .conl-text1 {
          padding-bottom: 22px;
          font-size: 34px;
          font-weight: bold; }
        #content .main-content7 .main-contact-info .main-con-info .main-con-left .conl-text2 {
          line-height: 2em;
          font-size: 12px;
          font-weight: bold; }
      #content .main-content7 .main-contact-info .main-con-info .main-con-right {
        float: left;
        margin-left: 70px; }
        #content .main-content7 .main-contact-info .main-con-info .main-con-right .conr-text {
          font-size: 17px;
          padding-bottom: 10px; }
    #content .main-content7 .main-contact-info .contact-form tr th {
      width: 250px; }
    #content .main-content7 .main-contact-info .contact-form tr td {
      background: white; }
    #content .main-content7 .main-contact-info .contact-form .require {
      float: right;
      background: #fff20b;
      color: #ff6600;
      font-size: 13px;
      width: 50px;
      line-height: 29px;
      text-align: center; }
    #content .main-content7 .main-contact-info .contact-form .contact-btn {
      text-align: center;
      padding-top: 37px; }
      #content .main-content7 .main-contact-info .contact-form .contact-btn .wpcf7-confirm {
        background: #fff20b;
        text-align: center;
        width: 558px;
        line-height: 98px;
        color: #ff6600;
        font-size: 24px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px 5px #e14800; }
  #content .post-row-content .blog-btnrm {
    float: right;
    padding: 3px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white; }
    #content .post-row-content .blog-btnrm a {
      color: #fff20b; }
    #content .post-row-content .blog-btnrm a:hover {
      opacity: 0.5; }
  #content .post-row-content .post-row-meta .fa {
    padding: 0 5px 0 20px; }
  #content .post-row-content .post-row-meta .fa:first-child {
    padding-right: 5px;
    padding-left: 0; }
  #content .post-row-content .blog-content {
    margin-top: 20px; }
  #content .wp-pagenavi {
    margin-top: 40px;
    text-align: center; }
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: white;
      color: #fff; }
    #content .wp-pagenavi span.current {
      border-color: white !important; }
